html,

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    margin: auto;
    text-align: center;    
    font-family: 'Share Tech Mono', monospace;
}

.cityImage {
    background-image: url('images/city2.png');
    background-attachment: fixed;
    background-position: center;
}

.clownImage {
    background-image: url('images/fClowns.png');
    background-attachment: fixed;
    background-position: center;
}

.burgerImage {
    background-image: url('images/cBurger.png');
    background-attachment: fixed;
    background-position: center;
}

.parkImage {
    background-image: url('images/dPark.png');
    background-attachment: fixed;
    background-position: center;
}

.pizzaImage {
    background-image: url('images/hPizza.png');
    background-attachment: fixed;
    background-position: center;
}

.campImage {
    background-image: url('images/rCamp.jpg');
    background-attachment: fixed;
    background-position: center;
}

.clubImage {
    background-image: url('images/sClub.png');
    background-attachment: fixed;
    background-position: center;
}

.templeImage {
    background-image: url('images/temple.png');
    background-attachment: fixed;
    background-position: center;
}

.tparkImage {
    background-image: url('images/themePark1.png');
    background-attachment: fixed;
    background-position: center;
}

#topText {
    color: chartreuse;
    text-shadow: 3px 3px 3px black;
    width: 100%;
    min-height: 60vh;  
    line-height: 50px;
}
#textBox {
color: chartreuse;
min-height: 10vh;
border: 2px solid black;
background-color: slategray;
opacity: 0.8;
}
    




/* #choiceBtn {

}

#rpsBtn {

} */



/* tried setting widths for these buttons within their
parents-did not work for me*/
#moveWest {    
    width: 80px;
    height: 30px;
}
#moveNorth {    
    width: 80px;
    height: 30px;
}
#moveEast {    
    width: 80px;
    height: 30px;
}
#moveSouth {    
    width: 80px;
    height: 30px;
}
#choiceFight {    
    width: 80px;
}
#choiceEscape {    
    width: 80px;
}

#rpsRock {    
    width: 80px;
    height: 30px;
}
#rpsPaper {    
    width: 80px;
    height: 30px;
}
#rpsScissors {    
    width: 80px;
    height: 30px;
}
