html,

* {
    font-family: 'Share Tech Mono', monospace;
    margin: auto;
    text-align: center;
    background-color: gray;
    color:bisque;   
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
}