html,

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    margin: auto;
    text-align: center;
    border: 3px solid greenyellow;
    background-color: lightgrey;
    font-family: 'Share Tech Mono', monospace;


}

#overallBrn {
    display:inline-block;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
   
}



/* #choiceBtn {

}

#rpsBtn {

} */



/* tried setting widths for these buttons within their
parents-did not work for me*/
#moveWest {    
    width: 80px;
}
#moveNorth {    
    width: 80px;
}
#moveEast {    
    width: 80px;
}
#moveSouth {    
    width: 80px;
}
#choiceFight {    
    width: 80px;
}
#choiceEscape {    
    width: 80px;
}

#rpsRock {    
    width: 80px;
}
#rpsPaper {    
    width: 80px;
}
#rpsScissors {    
    width: 80px;
}
