html,

* {
    font-family: 'Share Tech Mono', monospace;
}

body {
    margin: auto;
    text-align: center;    
    font-family: 'Share Tech Mono', monospace;
    background-image: url('images/city2.png');
    background-attachment: fixed;
    background-position: center;


}
#topText {
    color: chartreuse;
    text-shadow: 3px 3px 3px black;
    min-height: 60vh;  
}
#textBox {
color: bisque;
min-height: 15vh;
}
    




/* #choiceBtn {

}

#rpsBtn {

} */



/* tried setting widths for these buttons within their
parents-did not work for me*/
#moveWest {    
    width: 80px;
    height: 30px;
}
#moveNorth {    
    width: 80px;
    height: 30px;
}
#moveEast {    
    width: 80px;
    height: 30px;
}
#moveSouth {    
    width: 80px;
    height: 30px;
}
#choiceFight {    
    width: 80px;
}
#choiceEscape {    
    width: 80px;
}

#rpsRock {    
    width: 80px;
    height: 30px;
}
#rpsPaper {    
    width: 80px;
    height: 30px;
}
#rpsScissors {    
    width: 80px;
    height: 30px;
}
